/* ¿©¹é ÃÊ±âÈ­ */
body,
div,
dl,
dd,
dt,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
legend,
textarea,
select,
fieldset,
p,
button,
span,
pre {
  margin: 0;
  padding: 0px;
  border: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* p */
p {
  margin: 0;
  padding: 0;
}

/* image */
img {
  border: 0;
  border-style: none;
}

/* pre */
pre {
  font-family: inherit;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

pre {
  font-size: 1em;
}

/* b, strong */
b,
strong {
  font-weight: 700;
}

b,
strong {
  font-weight: bold;
}

/* em */
em {
  font-style: italic;
}

em {
  font-style: normal;
}

/* link */
a {
  background-color: transparent;
}

a:link,
a:visited,
a:active {
  color: #6c6d73;
  text-decoration: none;
}

/* ul */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* font */
body {
  font-size: 15px;
  line-height: 1.5;
  color: #6c6d73;
  font-weight: normal;
  font-family: "NBG", "³ª´®¹Ù¸¥°íµñ", "Malgun Gothic", "¸¼Àº °íµñ", Dotum,
    "µ¸¿ò", sans-serif;
  font-weight: 400;
  position: relative;
}

.font_reset {
  font-size: 15px !important;
  font-family: "NBG", "³ª´®¹Ù¸¥°íµñ", "Malgun Gothic", "¸¼Àº °íµñ", Dotum,
    "µ¸¿ò", sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.15;
}

/* title */
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* input */
img,
input,
select,
textarea {
  vertical-align: middle;
}

input[type="text"] {
  border-radius: 0px;
}

input:not([type="checkbox"]):not([type="radio"]),
button {
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* ir */
.ir {
  text-indent: -9999px;
  position: fixed;
  top: -9999px;
  font-size: 1px;
  width: 1px;
  height: 1px;
  opacity: 0;
}

/* button */
button {
  cursor: pointer;
  border: 0;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

input:not([type="checkbox"]):not([type="radio"]),
button {
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* title wrap */
.title-wrap {
  position: relative;
}

.title-wrap:after {
  clear: both;
  display: block;
  content: "";
}

/* cms-gnb */
#cms-gnb {
  padding-top: 20px;
  float: right;
  position: relative;
  z-index: 2;
}

#cms-gnb ul {
  position: relative;
}

#cms-gnb > ul > li {
  width: 160px;
  float: left;
  position: relative;
}

#cms-gnb > ul > li ul {
  display: block;
  margin-top: 23px;
  padding: 26px 17px;
  display: none;
}

#cms-gnb > ul > li ul li {
  margin-top: 10px;
}

#cms-gnb > ul > li ul li:first-child {
  margin-top: 0;
}

#cms-gnb > ul > li ul li a {
  font-size: 15px;
  color: #44465c;
  display: block;
  letter-spacing: -0.5px;
}

#cms-gnb > ul > li ul li.curr a,
#cms-gnb > ul > li ul li a:hover,
#cms-gnb > ul > li ul li a:focus {
  color: #dd0c09;
  text-decoration: underline;
}

#cms-gnb > ul > li.on > a,
#cms-gnb > ul > li.curr > a {
  color: #ee0700;
}

#cms-gnb > ul > li.on > a:after,
#cms-gnb > ul > li.curr > a:after {
  width: 100%;
  height: 2px;
  background-color: #ee0700;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
}

#cms-gnb > ul > li.on ul,
#cms-gnb > ul > li.curr ul {
  background-color: #f6f6f6;
}

#cms-gnb > ul > li > a {
  font-size: 20px;
  color: #44465c;
  font-weight: 700;
  display: inline-block;
  margin-left: 16px;
  font-family: "NotoKr";
  position: relative;
}

/* box site */
.box-site {
  display: block;
  overflow: hidden;
  width: 243px;
  border: 1px solid #666779;
  border-radius: 5px;
  vertical-align: top;
  background: #fff;
}

.box-site ul {
  overflow: auto;
  max-height: 362px;
  padding: 15px 20px;
}

.box-site ul li a {
  display: block;
  padding: 6px 0;
  color: #6c6d73;
  line-height: 1.2;
}

.box-site ul li a:hover {
  color: #d7021b;
  text-decoration: underline;
}

.box-header {
  padding: 9px 19px;
  border: 1px solid #666779;
  border-radius: 10px;
  vertical-align: top;
  background-color: #fff;
}

/* icon */
.iconset {
  overflow: hidden;
  display: inline-block;
  margin: -1px 0 0 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-indent: -9999px;
}

/* table */
table {
  width: 100%;
  margin: 0;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  empty-cells: show;
}

noscript,
caption {
  width: 0;
  height: 0;
  text-indent: -20000px;
}

table th,
table td {
  padding: 0;
  word-break: break-all;
}

/* °Ô½ÃÆÇ */
.a-l {
  text-align: left !important;
}
